body{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    border: 1px solid gray;
    padding: 1%;
}
h1{
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 600;
}
p{
    color: rgb(58, 137, 194);
    margin-bottom: 0em;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
}
hr {
    margin-top: 0em;
    margin-bottom: 2em;
    background-color:gray;
    width: 70%;
    text-align: center;
}
#topics h2{
    line-height: 150%;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: normal;
    font-size: 15px;
}
em{
    line-height: 150%;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: normal;
    font-size: 15px;
}
ul{
    list-style-type: value;
}
#topics li{
    line-height: 150%;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 1em;
    font-size: 15px;
    text-align-last: 10px;
    text-wrap: auto;
}
img{
    width: 130px;
    margin-top: 1.5em;
    margin-left: 40%;
    text-align: center;
}