
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: Roboto, sans-serif;
}
header,
main,
footer {
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr;
}
h1 {
    text-align: center;
}
section {
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: black;
    display: none;
    text-align: center;
}
nav.active a{
    display: block;
    border-top: 2px solid black;
    text-decoration: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

footer {
    text-align: left;
}
.bar1,
.bar3 {
    transition: transform 0.7s ease-in-out;
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
.bar2 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    opacity: 1;
    transition: 0.7s;
}
.open .bar1 {
    transition: transform 0.7s ease-in-out;
    transform: translate(0, 8px) rotate(-45deg);
}
.open .bar2 {
    opacity: 0;
    transition: 0.7s;
}

.open .bar3 {
    transition: transform 0.7s ease-in-out;
    transform: translate(0, -11px) rotate(45deg);
}
    
@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: auto auto;
    }
    .menu-btn{
        display: none;
    }
    nav {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
    nav a {
        display: inline-block;
    }
}
@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: auto auto auto;
    }
}
          
          