
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: Roboto, sans-serif;
}
header,
footer{
    background-color: rgb(75, 129, 244);
    color: white;
    padding: 1rem;
    text-align: center;
}
main {
    max-width: 1500px;
    border: 1px solid #ccc;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem
}
main h2 {
    grid-column: 1 / -1;
}
h1,
h2 {
    text-align: center;
}
section {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: fit-content;
    padding: 5px;
    filter: drop-shadow(5px 5px 10px black);
    background-color: white;
}
button{
    color: white;
}
nav a{
    padding: 20px;
    color: white;
    display: none;
}
nav.active a{
    display: block;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
footer {
    text-align: center;
}

@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: auto auto;
    }
    .menu-btn{
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    nav a {
        display: inline-block;
    }
}
@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: auto auto auto;
    }
}
          
          