main{
    display: grid;
    place-items: center;
}
.card-container {
    position: relative;
    width: 400px;
    margin: 3rem auto;
}
.card {
    width: 100%;
    height: 200px;
    padding: 1.5rem;
    border-radius: 12px;
    background: #d3d3d3;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.front-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "total logo"
        "number number"
        "holder exp";
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.back-card {
    display: grid;
    grid-template-rows: 40px auto;
    gap: 1rem;
    position: absolute;
    top: 45px;
    left: 105px;
    z-index: 1;
    padding-right: 0;
}
.submit-btn {
    position: absolute;
    top: 300px;
    left: 443px;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    border: 1px solid #999;
    background: #e0e0e0;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
#message {
    position: absolute;
    top: 350px;
    left: 443px;
}
.total {
    grid-area: total;
}
.logo {
    grid-area: logo;
    justify-self: end;
}
#creditCardNumberContainer {
    grid-area: number;
}
#creditCardNumberContainer label {
    display: block;
    margin-bottom: 0.3rem;
}
#cardHolder {
    grid-area: holder;
}
#cardExpiration {
    border: none;
    grid-area: exp;
    justify-self: start;
}
.exp-inputs {
    display: flex;
    gap: 0.5rem;
}
.exp-inputs input {
    width: 3rem;
    text-align: center;
}
.bottom-row {
    justify-content: space-between;
}
.black-strip {
    height: 40px;
    width: 100%;
    background: black;
}
#securityCode{
    margin-top: 3.5rem;
    padding: .5rem;
    justify-self: end;
    text-align: right;
}
#security {
    width: 60px;
    height: 30px;
    text-align: center;
}