
/* form-demo.css */
body {
    font-size: 1.2em;
}
form {
    width: 50%;
    margin: 0 auto;
}
h1, h2 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Add a border to make it visually consistent */
    border-radius: 4px;
}
       